/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Style+Script&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: url("/assets/Home-bg.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100vh;

}
h1{
    color: white;
    font-weight: bold;

}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh;
    
}
.pd{
    margin: 5%;
}
#p1, #p2{
    margin-left: 15vw;
}
#p1name, #p2name{
    width: 200px;
    height: 40px;
    border: 2px solid #101010;
    border-radius: 20px;
    background-color: #ecebf0;
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-left: 12vw;
}
#p1nick, #p2nick{
    width: 200px;
    height: 40px;
    border: 2px solid #050505;
    border-radius: 20px;
    background-color: #f7f5fc;
    color: rgb(8, 8, 8);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-left: 12vw;
    margin-top: 1vh;
}
.chess{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
.ctime{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.ctime select{
    width: 100px;
    height: 30px;
    background-color: #f6f1f1;
    border: 2px solid #000;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}
 #inst{
    height: 45px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2px 5px 4px 0px rgba(0, 0, 0, 0.25);
    color: #070707;
    border: none;
    cursor: pointer;
    margin-top: 5vh;
    margin-left: 43.5vw;
 }
 #inst:hover{
    transform: scale(1.1);
}
 #play{
    height: 30px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(10, 10, 10);
    border-radius: 10px;
    background-color: #faf7f7;
    margin-left: 43.5vw;
    margin-top: 5vh;
    border: none;
    cursor: pointer;
    text-align: center;
 }
 #play:hover{
    transform: scale(1.1);
}

/* responsive for 480px */
@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;
        margin-top: 1px;
        margin-left: 12vw;
    }
    .pd{
        margin-right: 10vw;
    }
    .ctime{
        margin-top: -1vh;
        margin-left: 9vw;
    }
    .imggg {
        height: 80px;
    } 
    /* .play{
        margin-top: -5vh;
    } */

    #play {
        margin-left: 130px;
    }
    #inst {
        margin-left: 130px;
    }

}
