@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Style+Script&display=swap');
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    color: rgb(243, 243, 247);
}
body{
    background: url(/assets/instruction-bg.webp);
    background-size: cover;
    height: 1000px;
}

/* main content */
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 40%;
    width: 50%;
    height: 110vh;
}
/* Instruction heading */
.Instructions h1{
    margin-top: 4vh;
    text-align: center;
    font-size: 75px;
    font-weight: 600;
    line-height: 125%;
    padding-right: 50px;
    font-family: 'Dancing Script', cursive;
}

.ul{
    padding: 0px 25px;
    width: 90%;
    margin: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 150%;
}

.item{
    display: flex;
    align-items: center;
    width: 90%;
    border: 5px solid white;
    border-radius: 5px;
    margin: 10px;
    min-height: 50px;
}
/* pieces img styling */
.item img{
    width: 40px;
    padding: 5px;
    margin: 5px;
}
.item:hover{
    transform: scale(1.1);
    transition: 0.5s;
} 
/* back img styling */
.back{
    position: absolute;
    margin-top: 45vh;
    margin-left: 5vh;
}
.back:hover{
    transform: scale(1.1);
}
/* proceed to play button styling */
#btn{
    width: 125px;
    height: 46px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2px 5px 4px 0px rgba(0, 0, 0, 0.25);
    color: #070707;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 35vw;
    margin-top: 5vh;
}
#btn:hover{
    transform: scale(1.1);
}

/* Responsive Design */
@media screen and (max-width:750px) {
    body{
        background: rgb(1, 1, 1);
    }
    .main{
        margin: auto
    }
}

@media screen  and (max-width:680px){
    body{
        background: rgb(2, 2, 2);
    }
    .main{
        width: 90%;
        margin-top: -10vh;
    }
    .Instructions h1{
        margin-top: 5px;
        font-size: 40px;
        padding: 0;
    }
    .ul{
        padding: 0;
        font-size: 15px;
        margin: 20px;
        padding-left: 30px;
        width: 90%;
    }
    .item{
        padding: 2px;
    }
    .item img{
        width: 25px;
        padding: 2px;
    }
    .item p{
        padding-left: 10px;
    }

    .next{
        margin: 15px 0;
    }
    .items{
        justify-content: center;
    }
    .back{
        margin-top: 95vh;
        margin-left: 12vw;
    }
    .btn{
        position: absolute;
        right: 50px;
        
    }

}


